*{
    padding: 0;
    margin: 0;
   
}
.content-width{
max-width: 1920px;
margin: auto;
margin-top: 30px;
}
.center{
    text-align: center;
}
.right{
    text-align: right;
}
 /* header */
 header{
    background: url(./images/Banner.png);
    width: 1200px;
    border-radius: 20px;
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.;
    background-color: rgba(0, 0, 0, 0.637);
    background-blend-mode: overlay;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
 }
 .ami{
    color: rgb(255, 250, 250);
    font-size: 45px;
    line-height: 60px;
    font-weight: 400;
   
   
 }
 .headerh1{
    color: white;
    font-size: 80px;
    line-height: 80px;
   
 }
.textnn{
    color: white;
    font-size: 90px;
    line-height: 90px;
   
}
/* banner */
.bannerh1{
    font-size: 120px;
    color: red;
    line-height: 100px;
    
}
.bannerh2{
    color: red;
    font-size: 30px;
    font-weight: 300;
    line-height: 30px;
    
    
}
.banner3{
    font-size: 55px;
    line-height: 55px;
    margin-top: 1px;
    color: rgb(07,02,11);
}
.bannerprat1{
    margin-top: 60px;
}

/* bannerprat-2 */
.banner-2{
    background: url(./images/Vectorrr.png);
    width: 1500px;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    border-radius: 20px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: start;
    background-color: rgba(0, 0, 0, 0.637);
    background-blend-mode: overlay;
    flex-direction: column;
}
.bann-2{
    color: white;
    font-size: 70px;
    margin-left:120px ;
    line-height:80px ;
    
}
.bannerh1{
    color: white;
    font-size: 70px;
    margin-left: 120px;
    line-height: 80px;
    
    
}
.banner-p{
    font-size: 24px;
    line-height: 35px;
    margin-top: 50px;
    color: white;
    margin-left: 120px;
}
.btn{
    color: white;
    margin-left: 120px;
    margin-top: 100px;
}